<% if !@classifieds.present? %>
    <h3 class = "empty_message">
        Ainda não há nenhum item cadastrado...
    </h3>
<% else %>
    <div class = "classified_list">
        <% @classifieds.each do |item| %>
            <%= link_to(classified_show_path(item.slug), class: "classified_link") do %>
                <figure class = "classified_figure">
                    <% if item.image.present? %>
                        <%= image_tag(item.image, class: "classified_small_image") %>
                    <% else %>
                        <%= image_tag("no_image.png", class: "classified_small_image") %>
                    <% end %>
                </figure>

                <h3 class = "classified_small_title">
                    <%= item.title.to_s() %>
                </h3>

                <p class = "classified_small_price">
                    <!-- format the decimal to the brazilian money format -->
                    <%= item.number_to_currency_br(item.price) %>
                </p>
            <% end %>
        <% end %>
    </div>
<% end %>

<script>
    // clean the local storage for the classified/show page.
    localStorage.clear();
</script>