<div class = "classified_container">
    <!-- Most_Read -->
    <div class = "generic_most_read">
        <%= render "news/most_read" %>
    </div>
    <!-- Change font os most_read -->
    <%= render "video/script" %>

    <div class = "classified_content">
        <div class = "header">
            <h1 class = "page_title">
                Classificados
            </h1>

            <%= link_to("Quero Anunciar", classified_form_path(), class: "header_link") %>
        </div>

        <% owner = @classified %>
        <div class = "product_info">
            <h1 class = "product_title">
                <%= owner.title %>
            </h1>

            <p class = "product_line">
                <%= owner.number_to_currency_br(owner.price)%>
                <span class = "icon--left ion-android-person"> <%= owner.name %></span>
                <span class = "icon--left ion-android-phone-portrait"> <%= owner.phone %></span> 
                <span class = "icon--left ion-android-mail"> <%= owner.email %></span> 
            </p>
        </div>

        <div class="fotorama" data-nav="thumbs" data-width="100%" data-click="false" data-keyboard="true">
            <% owner.product_images.each do |img| %>
                <%= image_tag(img.image, class: 'product_image') %>
            <% end %>
        </div>

        <div class = "product_description_box">
            <p class = "description">
                <%= owner.description %>
            </p>
        </div>

        <%= render "layouts/includes/social_footer" %>
    </div>
</div>

<script>
    // Once the page is "loaded" reload it again.
    // Without this the fotorama wont be able to load the images.
    var refresh = window.localStorage.getItem('refresh');
    console.log(refresh);

    if (refresh === null || refresh === 0){
        window.location.reload();
        window.localStorage.setItem('refresh', '1');
    }
</script>
