<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" data-turbolinks = "false">

    <div class = "container-header">
        <!-- MenuButtom -->
        <div class = "menu-buttom">
            <span class = "ion-android-menu" id = "menu_icon"></span>
            <h7 class="menuBtn">MENU</h7>
        </div>
        <!-- SiteLogo -->
        <div class = "site-logo">
            <%= link_to(root_path(), class: "site-logo-link") do %>
                <%= image_tag("menu_logo.png", class: "logo-header") %>
            <% end %>
        </div>
        <!-- SiteSearch -->
        <div class = "search-header">
            <%= link_to(search_path(), class: "search-link") do %>
                <span class = "search-text">
                    Buscar  <span class = "header__icon ion-search"></span>
                </span>
            <% end %>
        </div>
    </div>
</nav>
<!--/Navbar-->

<!-- Hidden Nav-Bar -->
<div class = "collapse-hidden navbar-collapse" id = "hidden-navbar" data-turbolinks = "false">
    <div class = "container">

      <div class = "icon-bar" hidden >
        <%= link_to("CAPA", root_path(), class: "icon-link")%>
      </div>

      <div class = "icon-bar" hidden>
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EDITORIAIS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% ContentBuilderCategory.all.order(:name).each do |category| %>
              <%= link_to(category.name, news_by_category_path(category), class: "dropdown-item") %>
            <% end %>
          </div>
        </div>
      </div>

      <div class = "icon-bar" hidden>
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MULTIMÍDIAS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to("Notícias", news_path(), class: "dropdown-item") %>
            <%= link_to("Festas & Eventos", albuns_path(), class: "dropdown-item") %>
            <%= link_to("Vídeos", videos_path(), class: "dropdown-item") %>
          </div>
        </div>
      </div>

      <div class = "icon-bar" hidden >
        <%= link_to "ANUNCIE", announce_path(), class: "icon-link" %>
      </div>

      <div class = "icon-bar" hidden >
        <%= link_to "EXPEDIENTE", office_hour_path(), class: "icon-link" %>
      </div>

      <div class = "icon-bar" hidden >
        <%= link_to "FALE CONOSCO", contact_path(), class: "icon-link" %>
      </div>

      <div class = "icon-bar" id="last-news" hidden >
        <a class = "icon-link" href = <%=news_path()%> >ÚLTIMAS NOTICIAS</a>
      </div>
    </div>
</div>

<!-- MenuButtom scrip -->
<script>
  //that will return a htmlcolletion array
  const navItem = document.getElementsByClassName("icon-bar");
  let op = 0;
  let message = "Buttom is not clicked"
  
  const menuButtom = document.querySelector(".menu-buttom");
  console.log(message);

  document.addEventListener("turbolinks:load", () => {
    menuButtom.addEventListener("click", function(e){
      e.preventDefault();
              
      if(op === 0){
        for(let i of navItem){
          i.hidden = false;
          message = "buttom was clicked"
          console.log(message);
          op++;
        }
      }
      else{
        for(let i of navItem){
          i.hidden = true;
          message = "buttom was clicked again"
          console.log(message);
          op = 0;
        }
      }
    });
  });
</script>